body {
    background-color: #D49C6D;
    color: #5A2A17;
}

.steampunk-container {
    margin: 20px;
}

.steampunk-container-title {
    display: inline-flex;
    margin-bottom: 12px;
}

.steampunk-container-title button, .steampunk-container-title p {
    margin-left: 17px;
}

.steampunk-tile {
    background-color: #af693a;
    color: #3b1a0d;
    padding: 15px;
    border: 1.65px solid #fff;
    border-radius: 5px;
    margin-bottom: 20px;
    display: flex; 
    flex-direction: column;
    height: 100%;
}

.steampunk-tile h2 {
    font-size: 18px;
    margin-bottom: 10px;
}

.steampunk-tile img {
    max-width: 100%;
    height: auto;
    border: 1.65px solid #3b1a0d;
    transition: transform 0.3s ease-in-out;
    margin-bottom: 15px; 
    flex-grow: 1;
}

ul {list-style-type: square;}

.steampunk-tile .card-text {
    font-size: 16px;
    margin-bottom: 15px;
}

.steampunk-tile .text {
    font-size: 16px;
    margin-bottom: 5px;
}

.steampunk-tile .btn-outline-secondary, button.btn-outline-secondary {
    background-color: #6b3e00;
    color: #ffd700;
    border-color: #ffd700;
}

.steampunk-tile .btn-outline-secondary[disabled], button.btn-outline-secondary[disabled] {
    background-color: #6d583a;
    color: #ffec7e;
    border-color: #ffec7e;
}

.steampunk-tile img:hover {
    transform: scale(1.05);
    cursor: pointer;
}

.steampunk-table {
    display: table-caption;
    text-wrap: nowrap;
}

.table {
    width: auto;
    margin: auto;
}

.table th, .table td {
    text-align: center;
}

.fa-check {
    color: green;
}
